@tailwind base;
@tailwind components;
@tailwind utilities;

@media (orientation: landscape) and (min-width: 720px){
    .mainPomodoroContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        padding: 12px 20px;
        justify-content: space-evenly;
        background-image: url("/indexBg.jpeg"),;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .secondPomodoroContainer {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: fit-content;
        align-items: center;
        /* justify-content: center; */
    }

    .pomodoroLabel {
        font-family: "Rubik", sans-serif;
        font-family: Rubik;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: center;
        align-self: center;
        justify-self: center;
        transform: translateX(75%);
        opacity: 0.6;
        text-decoration: underline;
        text-shadow: 0 0 3px #000, 0 0 5px #252525;
    }

    .secondaryPomodoroContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0px 20px;
    }

    .backBtn {
        height: fit-content;
        width: fit-content;
        justify-self: left;
        opacity: 0.4;
    }

    .backBtn:hover {
        transform: scale(1.2);
        translate: transform 0.3s ease-in;
    }

    .backBtn:focus {
        transform: scale(0.95);
        translate: transform 0.3s ease-in;
    }
}