@tailwind base;
@tailwind components;
@tailwind utilities;

@media (orientation: landscape) and (min-width: 720px) {
    .musicMainContainer {
        width: 45%;
        height: 500px;
        padding: 10px 25px;
        border-radius: 25px;
        background-color: rgb(0, 0, 0, 0.1);
        box-shadow: 3px 3px 4px 2px rgba(0, 0, 0, 0.4);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .nowPlayingLabel {
        color: #000;
        font-family: "Rubik", sans-serif;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        opacity: 0.6;
        text-shadow: 0 0 5px #000, 0 0 5px #252525;
    }

    .musicImageParent {
        width: fit-content;
        height: fit-content;
        border-radius: 54px;
        border: 4px solid rgb(225, 225, 220, 0.3);
        box-shadow: 3px 3px 4px 2px rgba(0, 0, 0, 0.25);
    }

    .musicImage {
        width: 250px;
        height: 250px;
        border-radius: 50px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        filter: grayscale(0.3) blur(1px);
    }

    .musicTitleLabelContainer {
        display: flex;
        flex-direction: row;
    }

    .musicTitleSelectContainer{
        font-family: "Poppins", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        border-radius: 10px;
        padding: 6px 6px;
        color: #a8a4a4;
        text-shadow: 0 0 5px #000, 0 0 5px #252525;
        background-color: rgb(0, 0, 0, 0.1);
        box-shadow: 1px 1px 8px 1px rgb(227, 225, 220, 0.2);
    }

    .musicTitleSelectContainer:focus {
        outline: none;
        background-color: rgb(0, 0, 0, 0.1);
    }

    .optionMusicLabel {
        font-family: "Poppins", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        color: #a8a4a4;
        text-shadow: 0 0 5px #000, 0 0 5px #252525;
        background-color: rgba(255, 255, 255, 0.8);
    }

    .musicPlayBtnContainer {
        height: fit-content;
        width: fit-content;
        border-radius: 100%;
        padding: 7px 7px 7px 10px;
        background-color: rgb(227, 225, 217, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 1px 1px 8px 1px rgb(227, 225, 220, 0.2);
    }

    .musicPlayedContainer {
        width: 30%;
        height: fit-content;
        padding: 2px 2px;
        border: 2px solid rgba(255, 255, 255, 0.2);
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 100px ;

    }

    .musicPlayedLength {
        width: 30%;
        height: 8px;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 10px;
        border: 2px solid rgba(255, 255, 255, 0.2);
    }

}